aiokafka==0.11.0
dependency_injector
faiss-cpu==1.8.0
fastapi~=0.109.0
langchain
langchain_community
langchain_google_genai
langchain_openai
motor==3.5.1
pdf2image==1.17.0
pydantic
pymongo==4.8.0
pypdfium2==4.30.0
pytesseract==0.3.10
python-dotenv==1.0.1
uvicorn==0.18.3